html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/img/alcohol.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


#contenedor {
  margin: auto 1em;
  text-align: center;


}

#tituloPagina {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'monaco', cursive, sans-serif;
  font-size: 50px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'monaco', cursive, sans-serif;
  font-size: 20px;
}

/*#foto {
 
  border: #ff7300 solid 5px;
  margin-top: 15px;
}*/



#boton {
  margin-top: 10px;
  font-size: 20px;
  background-color: #3d00fdb5;
  color: white;
  font-family: 'monaco', cursive, sans-serif;
  margin-bottom: 2em;
  cursor: pointer;
}
